# venv
visacheckvenv
/visacheckvenv
visacheckvenv/

# info | tz
steps.txt
/steps.txt
*steps.txt

# audio
ffmpeg.exe
/ffmpeg.exe
*ffmpeg.exe
ffprobe.exe
/ffprobe.exe
*ffprobe.exe

# env
.env
/.env
*.env

# None
/None
None/
/None/
None

# folder of screenshots
/screenshots
screenshots/
screenshots
*screenshots

# tg
tgdata
/tgdata
tgdata/
/tgdata/
*tgdata